@font-face {
    font-family: 'FuturaStdHeavy';
    src: url('fonts/FuturaStdHeavy.eot');
    src: url('fonts/FuturaStdHeavy.eot') format('embedded-opentype'),
         url('fonts/FuturaStdHeavy.woff2') format('woff2'),
         url('fonts/FuturaStdHeavy.woff') format('woff'),
         url('fonts/FuturaStdHeavy.ttf') format('truetype'),
         url('fonts/FuturaStdHeavy.svg#FuturaStdHeavy') format('svg');
}

@font-face {
    font-family: 'FuturaStdLight';
    src: url('fonts/FuturaStdLight.eot');
    src: url('fonts/FuturaStdLight.eot') format('embedded-opentype'),
         url('fonts/FuturaStdLight.woff2') format('woff2'),
         url('fonts/FuturaStdLight.woff') format('woff'),
         url('fonts/FuturaStdLight.ttf') format('truetype'),
         url('fonts/FuturaStdLight.svg#FuturaStdLight') format('svg');
}


body{
	margin:0px;
	top:0px;
	background:#000;
}

#main{
	width:100%;
	height:100%;
	/*min-height:780px;*/
	min-height:790px;
	position:absolute;
	left:0px;
	top:0px;
}

#fondo{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-position:left bottom; 
	background-size:cover;
	opacity:0.4;
}


#logo{
	width:240px;
	height:auto;
	position:absolute;
	left:50%;
	/*margin-left:-400px;*/
	margin-left:-410px;
	top:20px;
}


#texto{
	width: 460px;
	position:absolute;
	left:50%;
	margin-left: -60px;
	top: 65px;
	font-family:'FuturaStdHeavy';
	font-size: 26px;
	color: #EEE;
	text-align:center;
	text-shadow:0px 0px 5px #000;
}

#support_btn{
	width: 200px;
	height: 50px;
	position:absolute;
	border:1px solid #FFF;
	background:url(../img/bg_negro.png);
	box-shadow:4px 3px 15px #000;
	font-family:'FuturaStdHeavy';
	font-size: 23px;
	color:#CCC;
	text-align:center;
	line-height: 48px;
	border-radius:8px;
	left:50%;
	margin-left: 183px;
	/*top:680px;*/
	top: 694px;
	cursor:pointer;
}

#app_store_btn{
	width:200px;
	height:auto;
	position:absolute;
	left:50%;
	margin-left:-380px;
	/*top:680px;*/
	top:690px;
	cursor:pointer;
}

#holder_video{
	width:818px;
	height:460px;
	position:absolute;
	left:50%;
	margin-left:-411px;
	top:190px;
	border:4px solid #CCC;
	box-shadow:4px 3px 15px #000;
}


@media all and (max-width:640px){

	#main{
		height:100%;
		min-height: 1000px;
	}

	#logo{
		width:300px;
		margin-left:-300px;
		top:20px;
	}

	#texto{
		width:590px;
		margin-left:-295px;
		top:606px;
		font-size:33px;
	}

	#holder_video{
		width:592px;
		height:333px;
		margin-left:-300px;
		top:230px;
	}

	#app_store_btn{
		width:280px;
		margin-left: -287px;
		top:740px;
	}

	#support_btn{
		width: 280px;
		height: 78px;
		border:2px solid #FFF;
		font-size: 33px;
		line-height: 73px;
		border-radius:8px;
		margin-left: 13px;
		top: 741px;
	}

}