
@font-face {
    font-family: 'FuturaStdHeavy';
    src: url('fonts/FuturaStdHeavy.eot');
    src: url('fonts/FuturaStdHeavy.eot') format('embedded-opentype'),
         url('fonts/FuturaStdHeavy.woff2') format('woff2'),
         url('fonts/FuturaStdHeavy.woff') format('woff'),
         url('fonts/FuturaStdHeavy.ttf') format('truetype'),
         url('fonts/FuturaStdHeavy.svg#FuturaStdHeavy') format('svg');
}

@font-face {
    font-family: 'FuturaStdLight';
    src: url('fonts/FuturaStdLight.eot');
    src: url('fonts/FuturaStdLight.eot') format('embedded-opentype'),
         url('fonts/FuturaStdLight.woff2') format('woff2'),
         url('fonts/FuturaStdLight.woff') format('woff'),
         url('fonts/FuturaStdLight.ttf') format('truetype'),
         url('fonts/FuturaStdLight.svg#FuturaStdLight') format('svg');
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
   	background:#000;
	-webkit-backface-visibility: hidden;
}



#main{
	width:320px;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background:url(../img/fondo.jpg) no-repeat #000;
	background-size:320px auto;
	overflow:hidden;
	transform-origin:left top;
	-webkit-transform-origin:left top;
	display:none;
}

#main_logo{
	width:228px;
	height:140px;
	position:absolute;
	left:48px;
	top:22px;
	opacity:0;

	/*width:256px;
	height:157px;
	left:36px;
	top:24px;*/
}


#main_back_btn{
	width:58px;
	height:32px;
	position:absolute;
	right:15px;
	top:15px;
	border:1px solid #FFF;
	background:url(../img/bg_negro.png);
	box-shadow:4px 3px 15px #000;
	font-family:'FuturaStdHeavy';
	font-size:15px;
	color:#CCC;
	text-align:center;
	line-height:34px;
	border-radius:5px;
	z-index:4;
}


/******* HOME ********/

#home{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
	z-index:1;
}

.home_boton{
	width:219px;
	height:51px;
	position:absolute;
	border:1px solid #FFF;
	background:url(../img/bg_negro.png);
	box-shadow:4px 3px 15px #000;
	font-family:'FuturaStdHeavy';
	font-size:25px;
	color:#CCC;
	text-align:center;
	line-height:51px;
	border-radius:10px;
}

#home_perform_btn{
	left:52px;
	top:187px;
}


#home_settings_btn{
	left:52px;
	top:269px;
}

#home_tutorial_btn{
	left:52px;
	top:348px;
}


/******* SETTINGS *********/

#settings{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
	z-index:2;
}

#settings_placa{
	width:230px;  /*560px;*/
	height:245px;
	padding-left:25px;
	padding-right:25px;
	position:absolute;
	left:20px;
	top:137px;
	border:1px solid #FFF;
	background:url(../img/bg_negro.png);
	box-shadow:4px 3px 15px #000;
	font-family:'FuturaStdHeavy';
	font-size:25px;
	color:#CCC;
	text-align:right;
	border-radius:10px;
}

#settings_titulo{
	text-align: center;
	margin-top:20px;
	margin-bottom:28px;

}

.settings_select{
	width:137px;
	height:30px;
	border:none;
	background: url(../img/settings/bg_select.png) no-repeat;
	background-size:137px 10px;
	background-position:left bottom;
	font-family:'FuturaStdHeavy';
	font-size:25px;
	color:#CCC;
	text-indent: 10px;
	margin-left:7px;
	margin-bottom:20px;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
}



/***** TUTORIAL *****/

#tutorial{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	display:none;
	z-index:3;
}

#tutorial_placa{
	width:290px;
	height:calc(100% - 120px);
	max-height:380px;
	position:absolute;
	left:15px;
	top:105px;
	border:1px solid #FFF;
	background:url(../img/bg_negro.png);
	box-shadow:4px 3px 15px #000;
	color:#CCC;
	border-radius:10px;
}

#tutorial_titulo{
	font-family:'FuturaStdHeavy';
	font-size:25px;
	text-align:center;
	margin-top:15px;
}

#tutorial_texto{
	width:230px;
	height:calc(100% - 80px);
	position:relative;
	margin-left:30px;
	margin-top:12px;
	font-family:'FuturaStdLight';
	font-size:18px;
	line-height:22px;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	text-align:justify;  
}

.tutorial_texto_titulo{
	font-family:'FuturaStdHeavy';
	line-height:30px;
}

#tutorial_grilla{
	width:200px;
	margin-top:10px;
	margin-bottom:5px;
}

#tutorial_swipes{
	width:220px;
	margin-top:10px;
	margin-bottom:5px;
}

/***** TRUCO *****/

#truco{
	width:calc(100% - 2px);
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background:#000;
	display:none;
	z-index:5;
	padding-right:5px;
	padding-bottom:5px;
}

.truco_btn{
	width:33.33%;
	height:20%;
	position:relative;
	float:left;
}

.truco_btn_learning{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
}

.truco_btn_learning_left{
	border-left:2px solid #999;
}

.truco_btn_learning_top{
	border-top:2px solid #999;
}

.truco_btn_learning_right{
	border-bottom:none;
}

.truco_btn_learning_num{
	width:100%;
	position:absolute;
	top:50%;
	margin-top:-10px;
	font-family:'FuturaStdHeavy';
	font-size:22px;
	color:#999;
	text-align:center;
}

.truco_btn_helper{
	width:2px;
	height:2px;
	position:absolute;
	right:-1px;
	bottom:-1px;
	background:#003; 
}


#truco_carta{
	width:318px;
	height:443px;
	position:absolute;
	left:50%;
	margin-left:-159px;
	top:50%;
	margin-top:-221px;
	background:url(../img/truco/bg_carta.png);
	background-size:20px 21px;
	border-radius:15px;
	display:none;
	opacity:0;
	z-index:6;
}


#truco_carta_svg{
	width:318px;
	height:auto;
	position:absolute;
	left:0px;
	top:0px;
}

#truco_timer{
	font-size:24px;
	margin-top:-11px;
	color:#FFF;
}


/***** ALERTA *****/

#alerta{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background:url(../img/alerta/fondo.png);
	z-index:7;
	display:none;
	opacity:0;
}

#alerta_placa{
	width: 259px;
	padding: 16px;
	position:absolute;
	left: 16px;
	top: 180px;
	border:1px solid #FFF;
	background:#000;
	box-shadow:4px 3px 15px #000;
	font-family:'FuturaStdLight';
	font-size: 21px;
	color:#DDD;
	text-align:right;
	border-radius:10px;
	text-align:center;
	line-height: 24px;
}

#alerta_placa_titulo{
	font-family:'FuturaStdHeavy';
	font-size: 23px;
	margin-bottom:10px;
	line-height:32px;
}

#alerta_boton{
	width: 145px;
	height: 41px;
	position:relative;
	border:1px solid #FFF;
	background:url(../img/bg_negro.png);
	box-shadow:4px 3px 15px #000;
	font-family:'FuturaStdHeavy';
	font-size: 23px;
	color:#DDD;
	text-align:center;
	line-height: 41px;
	border-radius: 8px;
	margin-left: 54px;
	margin-top: 20px;
}